*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

header{
    height: 80px;
    padding: 0 2%;
    background-color: #eeeeee;
}

.logo img{
    margin-top: 8px;
    width: 60px;
    height: 60px;
    margin-left: 60px;
}

.logo img:hover{
    transform: scale(1.3);
    transition: 1s;
}

header nav.menu ul{
    float: right;
    position: relative;
    top: -40px;
    margin-right: 60px;
}

header nav.menu li{
    float: left;
    padding: 0 20px;
    list-style: none;
}

nav.menu li.botao{
    background-color: #00e676;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
}

nav.menu a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

nav.menu a.btn{
    color: #ffffff;
}

nav.menu a:hover{
    color: #00e676;
}

nav.menu a.btn:hover{
    color: white;
}

nav.menu li.botao:hover{
    background-color: #ff5722;
    transition: 0.6s;
}

.menu-mobile{
    display: none;
}

.secao{
    width: 100%;
}

.parte-1{
    float: left;
    width: 50%;
}

.container-parte-1{
    float: right;
    padding: 0 60px;
    margin-top: 160px;
}

.parte-1 h1.titulo-1{
    font-size: 63px;
    color: #00e676;
}

.parte-1 h1.titulo-2{
    font-size: 63px;
    color: #000;
    margin-top: 3px;
}

.parte-1 h3{
    color: #000;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 30px;
    max-width: 560px;
}

.secao .btn{
    text-decoration: none;
    font-size: 20px;
    background-color: #00e676;
    color: white;
    padding: 12px 35px;
    border-radius: 5px;
}

.secao .animation{
    background-image: linear-gradient(45deg, #ff5722 50%, transparent 50%);
    background-position: 99%;
    background-size: 400%;
    transition: 500ms ease-in-out;
}

.animation:hover {
    background-position: 0;
}

/*
.parte-1 a{
    text-decoration: none;
    font-size: 20px;
    background-color: #00e676;
    color: white;
    padding: 12px 35px;
    border-radius: 5px;
}

.parte-1 a:hover{
    background-color: #ff5722;
    transition: 0.6s;
} */

.parte-2{
    float: right;
    width: 50%;
    height: 300px;
    margin-top: 110px;
} 

@media screen and (max-width: 910px) {
    
    header .menu ul{
        display: none;
    }

    .secao .container{
        text-align: center;
    }

    .parte-1 h1.titulo-1{
        font-size: 55px;
    }
    
    .parte-1 h1.titulo-2{
        font-size: 55px;
    }
    
    .parte-1 h3{
        font-size: 25px;
    }

    .parte-1 a{
        font-size: 17px;
    }

    .secao .parte-1{
        width: 100%;
        margin-top: -120px;
        max-width: 750px;
    }

    .secao .parte-2{
        width: 100%;
    }

    .secao .parte-2 img{
        width: 400px;
        margin-left: 20px;
    }

    .menu-mobile{
        display: block;
        float: right;
        position: relative;
        bottom: 50px;
        right: 10px;
        cursor: pointer;
    }
}